@import './utils/variables';
@import './components/webstudio/header/page-header';
@import './components/logo';
@import './components/webstudio/header/page-nav';
@import './components/webstudio/header/page-contacts';
@import './components/webstudio/main/hero';
@import './components/webstudio/main/advantage';
@import './components/webstudio/main/work';
@import './components/webstudio/main/team';
@import './components/webstudio/main/customers';
@import './components/webstudio/footer/address';
@import './components/webstudio/footer/join';
@import './components/webstudio/footer/subscribe';
@import './components/webstudio/modal-window/modal';
@import './components/webstudio/modal-window/form';
@import './components/webstudio/modal-window/checkbox';
@import './components/portfolio/selector';
@import './components/portfolio/gallery';

