
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts__item {
  display: flex;
  position: relative;
  bottom: -1;
}

.contacts__link {
  color: var(--basiс-color);
  display: flex;
  align-content: center;
  align-items: center;
  padding-right: 0px;
  margin-left: 50px;
  font-weight: 500;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(---basic-cubic-bezier);

  &:hover,
  &:focus {
  color: var(--third-color);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(---basic-cubic-bezier);

  &:hover,
  &:focus {
  background-color: var(--secondary-background-color);
  fill: #2196f3;
  }
}
