.header {
  position: relative;
  display: flex;
  
  border-bottom: 1px solid #ececec;
  border-left: none;
  

  &__block {
  display: flex;
  width: 100%;
  padding: 0px;

    @media screen and (max-width: 767px) {
    width: 420px;
    display: flex;
    justify-content: space-between    
    }
  

    @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 738px;
    display: flex;
       
    }
  }
}

.header-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  z-index: 1000;

  @media screen and (min-width: 768px) {
      display: none;
  }

  &.is-open{
  position: fixed;
}
}




.header-btn .icon-close {
  display: none;
}

.header-btn.is-open .icon-close {
  display: block;
}

.header-btn.is-open .icon-menu {
  display: none;
}


.header-btn__icon {
  width: 24px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border: none;
  
}



