.header {
  display: flex;
  align-items: center;

  border-bottom: 1px solid #ececec;
  border-left: none;


  &__block {
  display: inline-block;
  display: flex;
  }

}

.menu__button {
display: inline-flex;
margin: 0px;
padding: 0px;
border: none;
background-color: transparent;
}

.menu__button .icon-cross {
  display: none;
}

.menu__button.is-open .icon-cross {
  display: block;
}

.menu__button.is-open .icon-menu {
  display: none;
}