
.logo,
.web {
  color: var(--secondary-color);
  padding: 0px;
  // padding-top: 24px;
  // padding-bottom: 25px;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;

  @media screen and (max-width: 767px) {
     padding: 0px;
         
     }
}

.logo {
  display: flex;
  align-items: center;

  // @media screen and (max-width: 767px) {
  //  display: flex;
  //  margin: 0px;
  // }

  }

.web {
  color: var(--third-color);

  // @media screen and (max-width: 767px) {
  // padding: 0px;
  // margin: 0px;
  // }
}

.studio {
  color: var(--final-color);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
