
.advantage {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;


  .advantage__icon {
  background-color: var(--secondary-background-color);

  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  }

  .advantage__title {
  font-family: var(--basic-font-family);
  color: var(--secondary-color);

  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  }

  .advantage__text {
  font-family: var(--basic-font-family);
  color: var(--basi—Å-color);

  margin-top: 0px;
  margin-bottom: 0px;
  width: 270px;

  line-height: 1.7;
  letter-spacing: 0.03em;
  }
}