
.customers {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
    

    .customers__item {
      display: flex;
      justify-content: center;   
     }

      .customers__link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 92px;

        color: #AFB1B8;
        background-color: #ffff;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        cursor: pointer;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: var(---basic-cubic-bezier);

         &:hover, 
         &:focus {
         color: #2196f3;
         border: 1px solid #2196F3;
         outline: none;
         }

          @media screen and (max-width: 767px) {
	         width: 210px;
           }

           @media screen and (min-width: 768px) {
	         width: 226px;
           }

           @media screen and (min-width: 1200px) {
	         width: 170px;
           }
       }

         &__icon {
         fill: currentColor;
         }

}



