
.customers {
  display: flex;
  justify-content: center;


  .customers__item {
   margin-right: 30px;

   &:last-child {
   margin-right: 0px;
   }
  }

 .customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  color: #AFB1B8;
  background-color: #ffff;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  cursor: pointer;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(---basic-cubic-bezier);

  &:hover, 
  &:focus {
  color: #2196f3;
  border: 1px solid #2196F3;
  outline: none;
  }
 }

 &__icon {
  fill: currentColor;
 }

}