.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
  url(../images/Img.png);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
 

  .hero__title {
  font-family: var(--basic-font-family);
  color: var(--final-color);

  margin: 0px auto;
  margin-bottom: 30px;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  }
}


.button {
  font-family: var(--basic-font-family);
  background-color: var(--third-background-color);
  color: var(--final-color);
  padding: 10px 32px;

  cursor: pointer;
  border: none;
  border-radius: 4px;

  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.9;

  transition: tranform 250ms var(---basic-cubic-bezier);
}