.selector {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 50px;


  .selector__item {
  margin-right: 8px;

   &:last-child {
   margin-right: 0px;
   }
  }

  .selector__btn {
  font-family: var(--basic-font-family);
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);

  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--basic-cubic-bezier);
 
   &:hover,
   &:focus {
   background-color: var(--third-background-color);
   color: var(--final-color);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   }

   .selector__btn {
   color: var(--secondary-color);
   }
  }
}