.address {
  margin-top: 20px;
}

.address__text {
  font-family: var(--basic-font-family);
  color: var(--final-color);
  margin: 0px;
  margin-bottom: 9px;

  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address__link {
  font-family: var(--basic-font-family);
  color: var(--basiс-color);

  display: block;
  margin-bottom: 9px;

  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(---basic-cubic-bezier);
}

.address__link:hover,
.address__link:focus {
  color: var(--third-color);
}