.join {
  margin: 0px;
  margin-left: 70px;
}

.join__title {
  display: inline-block;
  margin-bottom: 20px;
  
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  
  color: #FFFFFF;
  text-transform: uppercase;
}

.join__list {
  display: flex;
  padding: 0px;
}

.join__items {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-color: #ffff;
}

.join__items:last-child {
  margin-right: 0px;
}

.join__link {
  display: block;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 12px;

  border-radius: 70%;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(---basic-cubic-bezier);
}

.join__icon {
  fill: #F5F4FA;
}

.join__link:hover .card-icon,
.join__link:focus .card-icon {
  fill: #F5F4FA;
}

.join__link--anime {
  background-color: #474a50;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(---basic-cubic-bezier);
}
.join__link--anime:hover,
.join__link--anime:focus {
  background-color: #2196F3;
  cursor: pointer;
}