.join {
  margin: 0px;
  margin-left: 70px;

  @media screen and (max-width: 767px) {
     margin: 0px;
     display: flex;
     flex-direction: column;
     align-items: center;

     margin-top: 60px;
     }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

  @media screen and (min-width: 1200px) {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     }
}

.join__title {
  display: inline-block;
  margin-bottom: 20px;
  
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  
  color: #FFFFFF;
  text-transform: uppercase;

   @media screen and (min-width: 768px) {
      margin-bottom: 20px;
   }

}

.join__list {
  display: flex;
  padding: 0px;
  margin: 0px;

   @media screen and (min-width: 768px) {
      display: flex;
      padding: 0px;
      
    }
   
   @media screen and (min-width: 1200px) {
     margin: 0px;
     }
}

.join__items {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-color: #ffff;
}

.join__items:last-child {
  margin-right: 0px;
}

.join__link {
  display: block;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 12px;

  border-radius: 70%;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(---basic-cubic-bezier);
}

.join__icon {
  fill: #F5F4FA;
}

.join__link:hover .card-icon,
.join__link:focus .card-icon {
  fill: #F5F4FA;
}

.join__link--anime {
  background-color: #474a50;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(---basic-cubic-bezier);
}
.join__link--anime:hover,
.join__link--anime:focus {
  background-color: #2196F3;
  cursor: pointer;
}